body {
	height: 100%;
	margin: 0;
	padding: 0;

}

#nav_li {
	margin-left: 30px;
	margin-right: 30px;
}

.no_box {
	height: 20%;
}
.text_title {
	
	margin: auto;
	width: 300px;
}

.text_title h3 {
	margin: auto;
	width: 180px;
}

.enter_button {
	margin: auto;
	width: 200px;
}
.blue-box {
	background-color: blue;
}
@media (min-width: 992px) {
	
body {
	height: 100%;
	margin: 0;
	padding: 0;
	}


.card {
	height: 100%;
}