{%extends "main.html"%}
{%block content%}
    

        <!-- Page Content -->
    <div class="container">
      <br>
      <a href="{{url_for('messages_to_owner',user_id=user.id, car_id=car.id)}}"><p>Bids for this Vehicle</p></a>
      <!-- Page Heading -->
      <h4 class="my-4">Garage:  {{garage.name}}</h4>

      <a href="{{url_for('category')}}">Go to Homepage</a>
      <br>
      <div class="row">
        <div class="col-md-7">
          <a href="#">
            <img class="#" src="{{car.car_item_pic}}" alt="">
          </a>
        </div>
        <div class="col-md-5">
          <h4><span> {{car.year}} </span><span> {{car.make}} </span><span> {{car.model}} </span></h4>
          <br>
          <h6>Price: {{car.price}}</h6>
          <h6>Milage: {{car.milage}}</h6>
          <br>
          <p>Description: {{car.description}}</p>
          <br>
          <a  href="{{url_for('edit_car_from_garage', garage_id=garage.id, car_id=car.id)}}"><h6>Edit</h6></a>
          <br>
          <a href="{{url_for('delete_car_from_garage', garage_id=garage.id, car_id=car.id)}}"><h6>Delete</h6></a>
          <br>
          <a href="{{url_for('garage_items', garage_id=garage.id)}}">
              <h6>Go to garage</h6>
              </a>
        </div>
      </div>
      <!-- /.row -->

      <hr>
     
      

    </div>
    <!-- /.container -->

{%endblock%}