{%extends "main.html"%}
{%block content%}
    

        <!-- Page Content -->
    <div class="container">

      <!-- Page Heading -->
        <h3>Garage:  {{garage.name}}</h3>
        <br>
        <a href="{{url_for('garage_items', garage_id=garage.id)}}"><h5>Go Back</h5></a>

      <div class="row">
        <div class="col-md-7">
          <a href="#">
            <img class="#" src="{{car.car_item_pic}}" alt="">
          </a>
        </div>
        <div class="col-md-5">
          <h3><span> {{car.year}} </span><span> {{car.make}} </span><span> {{car.model}} </span></h3>
          <br>
          <h6>Price: {{car.price}}</h6>
          <h6>Milage: {{car.milage}}</h6>
          <br>
          <p>Description: {{car.description}}</p>
          <br>
          <a class="btn btn-primary" href="{{url_for('purchase_from_garage', garage_id=garage.id, car_id=car.id)}}">Contact Seller</a>
          <br>
          <a href="{{url_for('garage_items', garage_id=garage.id)}}">
              <h5>Return to Homepage</h5>
              </a>
        </div>
      </div>
      <!-- /.row -->

      <hr>
     
      

    </div>
    <!-- /.container -->

{%endblock%}