{% extends "main.html" %}
{% block content %}

<div class="container">
  <div class="row banner menu">
    <div class="col-md-11 col-md-offset-1 padding-none">
      <br>
      <h4>Enter a New Car in Category: {{category.category}}</h4>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-6 col-md-offset-1 padding-top">
      <form action="{{url_for('create_car_for_category', category_id=category.id)}}" method = "POST">
        <div class="form-group">

          <label for="year">Year: </label>
          <input type ="text" maxlength="50" class="form-control" name="year" placeholder="Year">
          <br>
          <label for="year">Make: </label>
          <input type ="text" maxlength="50" class="form-control" name="make" placeholder="Make">
          <br>
          <label for="year">Model: </label>
          <input type ="text" maxlength="50" class="form-control" name="model" placeholder="Model">
          <br>
          <label for="year">Color: </label>
          <input type ="text" maxlength="50" class="form-control" name="color" placeholder="Color">
          <br>
          <label>Milage: </label>
          <input type="text" maxlength="50" class="form-control" name="milage">
          <br>
          <label for="description">Seller's Notes:</label>
          <textarea class="form-control" maxlength="250" rows="3" name="description"></textarea>
          <br>
          <label for="price">Price:</label>
          <input type ="text" class="form-control" maxlength="10" name="price">
          <br>
          <button type="submit" class="btn btn-success" id="submit" type="submit">Create</button>
          <br>
          <br>
          
        </div>
      </form>

      
      <a href="{{url_for('category_items', category_id=category.id)}}">
              <button class="btn btn-danger">Cancel</button>
              </a>
              <br>
              <br>
    </div>
  </div>
</div>
{% endblock %}




