{%extends "main.html"%}
{%block content%}



<div class="row">
        <div class="col-md-7">
          <a href="#">
            <img class="#" src="{{garage.garage_pic}}" alt="">
          </a>
        </div>

        <div class="col-md-5">

        	<h2>Deleteing this Garage will also delete all vehicles associated with it.  Are you sure you want to delete <span>{{garage.name}} </h2>

          	<form action="{{url_for('delete_garage', garage_id=garage.id)}}" method = "post">

        			<button type="submit" class="btn btn-default delete" id="submit">
        			<span class="glyphicon glyphicon trash" aria-hidden="true"></span>Delete</button>	

		        </form>
            <a href="{{url_for('garage_items', garage_id=garage.id)}}">
              <button class="btn btn-default delete">
              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>Cancel</button>
              </a>


        </div>
</div>











{%endblock%}