{% extends "main.html" %}
{% block content %}



<div class="container">
  <br>

  <div class="row">
          <div class="col-md-7">
            <a href="#">
              <img class="#" {%if car.car_item_pic%} src="{{car.car_item_pic}}" {%else%} src="http://via.placeholder.com/600x400" {%endif%} alt="">
            </a>
          </div>

          <div class="col-md-5">
           <br>
           <br>
            <h2>Are you sure you want to delete {{car.year}} {{car.make}} {{car.model}} </h2>

              <form action="{{url_for('delete_car_from_category', category_id=category.id, car_id=car.id)}}" method = "POST">

                <button type="submit" class="btn btn-dark" id="submit">
                Delete</button> 
                <br>
                <br>

              </form>
              <a href="{{url_for('category_items', category_id=category.id)}}">
                <button class="btn btn-danger">Cancel</button>
                </a>
                <br>
                <br>


          </div>
  </div>
<br>
</div>











{% endblock %}