{%extends "main.html"%}
{%block content%}
    

        <!-- Page Content -->
    <div class="container">

      <!-- Page Heading -->
      <h3 class="my-4">Garage:  {{garage.name}}</h3>
      <br>
      <a href="{{url_for('garage_items', garage_id=garage.id)}}"><button type="button" class="btn btn-info">Return to Garage</button></a>
      <br>
      <br>
      <a href="{{url_for('category')}}">
              <button type="button" class="btn btn-secondary">Go to Homepage</button>
              </a>
              <br>
              <br>

      <div class="row">
        <div class="col-md-7">
          <a href="#">
            <img class="#" src="{{car.car_item_pic}}" alt="">
          </a>
        </div>
        <div class="col-md-5">
          <h5>Thank you for your interest in purchasing:  <span> {{car.year}} </span><span> {{car.make}} </span><span> {{car.model}} </span></h5>
          <br>
          <h6>Price:  {{car.price}}</h6>
          <h6>Milage:  {{car.milage}}<h6>
          <br>
          <h6>From Seller: {{user.name}}</h6>
          <br>
        </div>
        <br>
      </div>

      <div class="row">
        <div class="col-md-12">
          <br>
          <p>To purchase from this seller, fill out the form below.  Place your bid and leave a short message for the Seller.  Once you click "Submit" you will be contacted soon.  </p>

          <form action="{{url_for('purchase_from_garage', garage_id=garage.id, car_id=car.id)}}" method = "POST">

            <div class="form-group">
            <label for="name">Your Name:</label>
            <input type ="text" maxlength="150" name="name" placeholder="Name">
            <br>
            <label for="email">Your Email:</label>
            <input type ="text" maxlength="150" name="email" placeholder="sample@email.com">
            <br>
            <label for="bid">Your Bid: </label>
            <input type ="text" maxlength="150" name="askingprice" placeholder="">
            <br>
            <label for="message"><h6>Message to Seller:</h6></label>
          </div>
          <div>
            <textarea maxlength="250" rows="3" name="description" placeholder="type message here"></textarea>
          </div>
            <br>
            <button type="submit" class="btn btn-success" id="submit">Submit</button>
            <br>
            <br>
        </div>
      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->

{%endblock%}