{%extends "main.html"%}
{%block content%}
    

        <!-- Page Content -->
    <div class="container">

      <!-- Page Heading -->
      <h1 class="my-4">Joe's Car Lot</h1>
      <br>
      <h1>WELCOME TO: {{garage.name}}
      </h1>
      <br>
      <h3>Garage Owner:  {{user.name}}</h3>
      <br>
      {%if 'username' in session%}
       <a href="{{url_for('create_car_in_garage', garage_id=garage.id)}}">Enter and Sell a Vehicle</a>
      {%endif%}
      
      <br>
      <br>
      <a href="{{url_for('category')}}">
              <button class="btn btn-default delete">
              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>Return</button>
              </a>

      {%for car in cars%}

      <div class="row">
        <div class="col-md-7">
          <a href="#">
            <img class="#" src="{{car.car_item_pic}}" alt="">
          </a>
        </div>
        <div class="col-md-5">

          <h3><span> {{car.year}} </span><span> {{car.make}} </span><span> {{car.model}} </span></h3>
          <br>
          <h3>{{car.price}}</h3>
          <br>
          <p>{{car.description}}</p>
          <br>
          <a class="btn btn-primary" href="{{url_for('car_from_garage', garage_id=garage.id, car_id=car.id)}}">Details</a>
        </div>
      </div>
      <!-- /.row -->

      <hr>
      {%endfor%}
      

    </div>
    <!-- /.container -->

{%endblock%}