{%extends "main.html"%}
{%block content%}
    

        <!-- Page Content -->
    <div class="container">

      <!-- Page Heading -->
      <br>
      <h4>WELCOME TO: {{garage.name}}</h4>
      <h6>Garage Owner:  {{user.name}}</h6>
      <br>
      <a href="{{url_for('edit_garage', garage_id=garage.id)}}"><button type="button" class="btn btn-secondary">Edit this Garage</button></a>
      <br>
      <br>
      <a href="{{url_for('delete_garage', garage_id=garage.id)}}"><button type="button" class="btn btn-secondary">Delete This Garage</button></a>
      <br>
      <br>

      <a href="{{url_for('category')}}"><button type="button" class="btn btn-info">Return to Homepage</button></a>
      <br>
      <br>

      {%if not cars%}

       <div class="row">
                <div class="col-md-7">
                  <a href="#">
                    <img class="#" src="http://via.placeholder.com/600x400" alt="">
                  </a>
                </div>
                <div class="col-md-5">
                  <br>
                  <br>
                  <br>
                  <br>
                  <h5>You have no vehicles in your garage yet!</h5>
                  <br>
                  <a href="{{url_for('create_car_for_garage', garage_id=garage.id)}}"><button type="button" class="btn btn-warning">Enter a Vehicle to Sell</button></a>
                  
                </div>
        </div>
        <br>

      {%else%}

          <a href="{{url_for('create_car_for_garage', garage_id=garage.id)}}"><button type="button" class="btn btn-warning">Enter a Vehicle to Sell</button></a>
          <br>
          <br>
          
          {%for car in cars%}

          

          <div class="row">
            <div class="col-md-7">
              <a href="#">
                <img class="#" {%if car.car_item_pic%} src="{{car.car_item_pic}}" {%else%} src="http://via.placeholder.com/600x400" {%endif%} alt="">
              </a>
            </div>
            <div class="col-md-5">

              <h4><span> {{car.year}} </span><span> {{car.make}} </span><span> {{car.model}} </span></h4>
              <br>
              <h6>Price:  {{car.price}}</h6>
              <h6>Milage:  {{car.milage}}</h6>
              <br>
              <p>Description:  {{car.description}}</p>
              <br>
              <a href="{{url_for('car_from_garage', garage_id=garage.id, car_id=car.id)}}"><button type="button" class="btn btn-primary">Details</button></a>
            </div>
          </div>
          <br>
          <!-- /.row -->

          <hr>
          {%endfor%}
        {%endif%}

        </div>
    <!-- /.container -->

{%endblock%}