{%extends "main.html"%}
{%block content%}
    

        <!-- Page Content -->
    <div class="container">


      <div class="flash">

          {% with messages = get_flashed_messages() %}

          {% if messages %}

          <ul> 
            {% for messages in messages %}

            <li><strong>{{messages}} </strong></li>

            {% endfor %}

          </ul>

          {% endif %}
          {% endwith %}
        

      </div>

        {%for category in categories%}
        
          <div class="row">
        <div class="col-md-7">
          <a href="#">
            <img class="#" src="{{category.category_pic}}" alt="">
          </a>
        </div>
        <div class="col-md-5">
          <div class="no_box"></div>
          <div class="text_title"><h3>{{category.category}}</h3></div>
          
          
          <div id="text_button" class="enter_button"><a class="btn btn-primary" href="{{url_for('category_items', category_id=category.id) }}">Search This BodyStyle!</a></div>
          <br>
          <div><p>{{category.category_description}}</p></div>
          <div class="no_box"></div>
        </div>
      </div>
      <br>
      <hr>
          
        {%endfor%}

      <div>
        <br>
        <h2>Garages: </h2>
        <br>
        <p>Garages are spaces created by sellers who want a more focused area to showcase their vehicles. You can check out each garage to see what they are selling.  In order to create your own garage, you have to be logged in.</p>
        <br>
        <br>
        

        {%if not garages%}

        <h3>There are no Garages Created Yet</h3>
        <br>
        <br>
      </div>
      



      {%else%}

      </div>
          
      {%for garage in garages%}

      <div class="row">
        <div class="col-md-7">
          <a href="#">
            <img class="#" src="{{garage.garage_pic}}" alt="">
          </a>
        </div>
        <div class="col-md-5">
          <div class="no_box"></div>
          <div class="text_title"><h3>{{garage.name}}</h3></div>
          <br>
          <div class="text_title"><p>{{garage.garage_description}}</p></div>
          <br>
          <div class="enter_button"><a class="btn btn-primary" href="{{url_for('garage_items', garage_id=garage.id) }}">Enter Garage!</a></div>
          <div class="no_box"></div>
        </div>
      </div>
      <br>
      <hr>
      <!-- /.row -->

      
      {%endfor%}
      {%endif%}

    </div>
    <!-- /.container -->

{%endblock%}


