{%extends "main.html"%}
{%block content%}
    

        <!-- Page Content -->
    <div class="container">

      <!-- Page Heading -->
      <h3 class="my-4">Garage:  {{garage.name}}</h3>
      <br>
      <a href="{{url_for('garage_items', garage_id=garage.id)}}"><h4>Return to Garage</h4></a>


      <div class="row">
        <div class="col-md-7">
          <a href="#">
            <img class="#" src="{{car.car_item_pic}}" alt="">
          </a>
        </div>
        <div class="col-md-5">
          <h3><span> {{car.year}} </span><span> {{car.make}} </span><span> {{car.model}} </span></h3>
          <br>
          <h6>Price: {{car.price}}</h6>
          <h6>Milage:  {{car.milage}}</h6>
          <br>
          <p>Description: {{car.description}}</p>
          <br>
          <h5>You have to Log In to contact the Seller</h5>
          <br>
          <a href="{{url_for('showLogin')}}"><h6>Log In</h6></a>
          <br>
          <a href="{{url_for('category')}}">
              <h6>Return to Homepage</h6>
              </a>
        </div>
      </div>
      <!-- /.row -->

      <hr>
     
      

    </div>
    <!-- /.container -->

{%endblock%}