{%extends "main.html"%}
{%block content%}
    

        <!-- Page Content -->
    <div class="container">

      <!-- Page Heading -->
      <h1 class="my-4">Joe's Car Lot</h1>
      <br>
        <h3><small>{{garage.name}}</small>
      </h3>


      
      

      <div class="row">
        <div class="col-md-7">
          <a href="#">
            <img class="#" src="{{car.car_item_pic}}" alt="">
          </a>
        </div>
        <div class="col-md-5">
          <h3><span> {{car.year}} </span><span> {{car.make}} </span><span> {{car.model}} </span></h3>
          <br>
          <h3>Price: {{car.price}}</h3>
          <br>
          <h3>Color: {{car.color}}</h3>
          <br>
          <p>Description: {{car.description}}</p>
          <br>
          <br>
          <h3>You have to Log In to contact the Seller</h3>
          <br>
          <a href="{{url_for('showLogin')}}">Log In</a>
          <br>
          <a href="{{url_for('garage_items', garage_id=garage.id)}}">
              <button class="btn btn-default delete">
              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>Return</button>
              </a>
        </div>
      </div>
      <!-- /.row -->

      <hr>
     
      

    </div>
    <!-- /.container -->

{%endblock%}