{%extends "main.html"%}
{%block content%}

    <div class="container">
      <br>
      <div class="row">
        <div class="col-md-12">
          <!-- Page Heading -->
          <h3 class="#">Garage:  {{garage.name}}</h3>
          <br>
          <a href="{{url_for('garage_items', garage_id=garage.id)}}"><button type="button" class="btn btn-info">Return to Garage</button></a>

      </div>
    </div>
    <br>
      <div class="row">
        <div class="col-md-7">
          <a href="#">
            <img class="#" src="{{car.car_item_pic}}" alt="">
          </a>
        </div>
        <div class="col-md-5">
          <h3><span> {{car.year}} </span><span> {{car.make}} </span><span> {{car.model}} </span></h3>
          <br>
          <h6>Price: {{car.price}}</h6>
          <h6>Milage:  {{car.milage}}</h6>
          <br>
          <p>Description: {{car.description}}</p>
          <br>
          <h5>You have to Log In to contact the Seller</h5>
          <br>
          <a href="{{url_for('showLogin')}}"><button type="button" class="btn btn-success">Log In</button></a>
          <br>
          <br>
          <a href="{{url_for('category')}}">
              <button type="button" class="btn btn-secondary">Return to Homepage</button>
              </a>
        </div>
      </div>
      <!-- /.row -->
      <br>
    </div>

{%endblock%}