{%extends "main.html"%}
{%block content%}
    

        <!-- Page Content -->
    <div class="container">

      <!-- Page Heading -->
      <h3 class="my-4">Category:  {{category.category}}</h3>
        <br>
        
      
      <a href="{{url_for('category_items', category_id=category.id)}}">
              <button type="button" class="btn btn-info">Go Back</button>
              </a>
      <br>
      <br>
      <div class="row">
        <div class="col-md-7">
          <a href="#">
            <img class="#" src="{{car.car_item_pic}}" alt="">
          </a>
        </div>
        <div class="col-md-5">
          <h3><span> {{car.year}} </span><span> {{car.make}} </span><span> {{car.model}} </span></h3>
          <br>
          <h6>Price: {{car.price}}</h6>
          <h6>Milage: {{car.milage}}</h6>
          <br>
          <p>Notes: {{car.description}}</p>
          <br>
          <h5>You have to log in to contact the seller</h5>
          <br>
          <a href="{{url_for('showLogin')}}"><button type="button" class="btn btn-success">Log In</button></a>
          <br>
          <br>
          <a href="{{url_for('category')}}">
              <button type="button" class="btn btn-secondary">Return to Homepage</button>
              </a>
        </div>
      </div>
      <br>
      <!-- /.row -->
    </div>
    <!-- /.container -->

{%endblock%}