{%extends "main.html"%}
{%block content%}
    

        <!-- Page Content -->
    <div class="container">

      <!-- Page Heading -->
      <div class="row">
        <div class="col-md-7">
          <a href="#">
            <img class="#" src="{{car.car_item_pic}}" alt="">
          </a>
        </div>
        <div class="col-md-5">
          <h3>Thank you</h3>
          <br>
          <h3>Your message has been sent.  The Seller will contact you soon! </h3>

          <a class="btn btn-primary" href="{{url_for('category')}}"><h5>Return to Home Page</h5></a>
          <br>
          <br>

          <a class="btn btn-primary" {%if car.garage_id%} href="{{url_for('garage_items', garage_id=car.garage_id)}}" {%else%} href="{{url_for('category_items', category_id=category.id)}}"><h5>Return</h5></a>

        </div>
      </div>
      <!-- /.row -->

      
      

    </div>
    <!-- /.container -->

{%endblock%}